:root {
  /* layout vars */
  --admin-navbar-height: 3rem;
  --admin-tagbar-height: 2.5rem;
  --admin-sidebar-width: 220px;
  --admin-sidebar-collapse-width: calc(var(--el-menu-icon-width) + var(--el-menu-base-level-padding) * 2);

  /* sidebar dark as default */
  --admin-sidebar-bg-color: #22272e; 
  --admin-sidebar-hover-bg-color: #18222c; 
  --admin-sidebar-text-color: #e5eaf3; 

}
