/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

:root {
  --prose-p-font-size: 16px;
  --prose-p-line-height: 1.5;
  --prose-p-margin: 32px 0;
  --prose-p-br-margin: 32px 0 0 0;
  --prose-h1-margin: 0 0 2rem;
  --prose-h1-font-size: 1.875rem;
  --prose-h1-line-height: 1.25;
  --prose-h1-font-weight: 700;
  --prose-h1-letter-spacing: -.025em;
  --prose-h1-icon-size: 1.25rem;
  --prose-h2-margin: 3rem 0 2rem;
  --prose-h2-font-size: 1.5rem;
  --prose-h2-line-height: 1.25;
  --prose-h2-font-weight: 600;
  --prose-h2-letter-spacing: -.025em;
  --prose-h2-icon-size: 1rem;
  --prose-h3-margin: 3rem 0 2rem;
  --prose-h3-font-size: 1.25rem;
  --prose-h3-line-height: 1.375;
  --prose-h3-font-weight: 600;
  --prose-h3-letter-spacing: -.025em;
  --prose-h3-icon-size: .9rem;
  --prose-h4-margin: 3rem 0 2rem;
  --prose-h4-font-size: 24px;
  --prose-h4-line-height: 1.375;
  --prose-h4-font-weight: 600;
  --prose-h4-letter-spacing: -.025em;
  --prose-h4-icon-size: 18px;
  --prose-h5-margin: 3rem 0 2rem;
  --prose-h5-font-size: 20px;
  --prose-h5-line-height: 1.375;
  --prose-h5-font-weight: 600;
  --prose-h5-icon-size: 18px;
  --prose-h6-margin: 3rem 0 2rem;
  --prose-h6-font-size: 18px;
  --prose-h6-line-height: 1.5;
  --prose-h6-font-weight: 600;
  --prose-h6-icon-size: 16px;
  --prose-strong-font-weight: 600;
  --prose-img-margin: 32px 0;
  --prose-a-text-decoration: none;
  --prose-a-color-light-default: inherit;
  --prose-a-color-light-hover: #3eaf7c;
  --prose-a-color-dark-default: inherit;
  --prose-a-color-dark-hover: #3eaf7c;
  --prose-a-border-bottom: 1px dashed #a1a1aa;
  --prose-a-border-width: 1px;
  --prose-a-border-color-light-default: #a1a1aa;
  --prose-a-border-color-light-hover: #3eaf7c;
  --prose-a-border-color-dark-default: #a1a1aa;
  --prose-a-border-color-dark-hover: #3eaf7c;
  --prose-a-border-style-default: none none dashed;
  --prose-a-border-style-hover: none none solid;
  --prose-a-border-distance: 2px;
  --prose-a-font-weight: 500;
  --prose-a-has-code-border-bottom: none;
  --prose-a-code-border: 1px dashed #a1a1aa;
  --prose-a-code-border-color-light-default: #a1a1aa;
  --prose-a-code-border-color-light-hover: #3eaf7c;
  --prose-a-code-border-color-dark-default: #52525b;
  --prose-a-code-border-color-dark-hover: #3eaf7c;
  --prose-a-code-color-light-hover: #3eaf7c;
  --prose-a-code-color-dark-hover: #3eaf7c;
  --prose-a-code-background-light-hover: #a0d8bf;
  --prose-a-code-background-dark-hover: #000;
  --prose-blockquote-margin: 32px 0;
  --prose-blockquote-padding: 0 0 0 24px;
  --prose-blockquote-quotes: "201C" "201D" "2018" "2019";
  --prose-blockquote-color-light: #71717a;
  --prose-blockquote-color-dark: #a1a1aa;
  --prose-blockquote-border-left: 1px solid #e4e4e7;
  --prose-blockquote-border-color-light: #e4e4e7;
  --prose-blockquote-border-color-dark: #3f3f46;
  --prose-ul-list-style-type: disc;
  --prose-ul-margin: 32px 0;
  --prose-ul-li-marker-color-light: #d4d4d8;
  --prose-ul-li-marker-color-dark: #27272a;
  --prose-ol-list-style-type: decimal;
  --prose-ol-margin: 32px 0;
  --prose-ol-li-marker-color-light: #71717a;
  --prose-ol-li-marker-color-dark: #71717a;
  --prose-li-margin: 16px 0;
  --prose-li-list-style-position: inside;
  --prose-hr-margin: 32px 0;
  --prose-hr-style: solid;
  --prose-hr-width: 1px;
  --prose-hr-color-light: #e4e4e7;
  --prose-hr-color-dark: #27272a;
  --prose-table-margin: 32px 0;
  --prose-table-text-align: left;
  --prose-table-font-size: 14px;
  --prose-table-line-height: inherit;
  --prose-thead-border: none;
  --prose-thead-border-bottom: 1px solid #d4d4d8;
  --prose-thead-border-color-light: #d4d4d8;
  --prose-thead-border-color-dark: #52525b;
  --prose-th-color-light: #52525b;
  --prose-th-color-dark: #a1a1aa;
  --prose-th-padding: 0 16px 16px 16px;
  --prose-th-font-weight: 600;
  --prose-tbody-tr-border-bottom: 1px dashed #d4d4d8;
  --prose-tbody-tr-border-color-light: #d4d4d8;
  --prose-tbody-tr-border-color-dark: #3f3f46;
  --prose-tbody-td-padding: 16px;
  --prose-tbody-code-inline-font-size: 14px;
  --prose-code-block-font-size: 14px;
  --prose-code-block-margin: 32px 0;
  --prose-code-block-border-color-light: #d4d4d8;
  --prose-code-block-border-color-dark: #3f3f46;
  --prose-code-block-color-light: #3f3f46;
  --prose-code-block-color-dark: #e4e4e7;
  --prose-code-block-background-color-light: #f4f4f5;
  --prose-code-block-background-color-dark: #27272a;
  --prose-code-block-pre-padding: 16px;
  --prose-code-inline-border-radius: .375rem;
  --prose-code-inline-padding: .25rem .375rem .25rem .375rem;
  --prose-code-inline-font-size: 14px;
  --prose-code-inline-font-weight: 400;
  --prose-code-inline-color-light: #3f3f46;
  --prose-code-inline-color-dark: #e4e4e7;
  --prose-code-inline-background-color-light: #f4f4f5;
  --prose-code-inline-background-color-dark: #27272a
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: #2c3e50;
}

html.dark h1 a,
html.dark h2 a,
html.dark h3 a,
html.dark h4 a,
html.dark h5 a,
html.dark h6 a {
  color: #fff;
}
